<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.my.vo.Customer" alias="Customer" />
		<typeAlias type="com.my.vo.OrderInfo" alias="OrderInfo" />
		<typeAlias type="com.my.vo.OrderLine" alias="OrderLine" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<!-- <property name="driver" value="${driver}"/> <property name="url" 
					value="${url}"/> <property name="username" value="${username}"/> <property 
					name="password" value="${password}"/> -->
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@//192.168.30.102:1521/xe" />
				<property name="username" value="c##ora_user" />
				<property name="password" value="yeo" />
			</dataSource>
		</environment>
	</environments>
	<mappers><!-- 사용할 xml 목록 -->
		<mapper resource="CustomerMapper.xml" />
		<mapper resource="postMapper.xml" />
		<mapper resource="productMapper.xml" />
		<mapper resource="orderMapper.xml" />
		<mapper resource="accountMapper.xml" />
	</mappers>
</configuration>